
/* Form Progress */
.price_item_bottom .progress {
  //width: 1000px;
  //margin: 20px auto;
  text-align: center;
}
.price_item_bottom .progress .circle, .progress .bar {
    display: inline-block;
    background: #fff;
    width: 31px;
    height: 31px;
    border-radius: 50px;
    border: 1px solid #d5d5da;
}
.price_item_bottom .progress .bar {
  position: relative;
  width: 90px;
  height: 4px;
  top: -28px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.price_item_bottom .progress .circle .label {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    border-radius: 50PX;
    margin-top: 2px;
    color: #b5b5ba;
    font-size: 17px;
    padding-left: 6px;
}
.price_item_bottom .progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -15px;
}

/* Done / Active */
.price_item_bottom .progress .bar.done,
.price_item_bottom .progress .circle.done {
  background: #eee;
}
.price_item_bottom .progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.price_item_bottom .progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.price_item_bottom .progress .circle.done .title {
  color: #444;
}
.price_item_bottom .progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.price_item_bottom .progress .circle.active .title {
  color: #0c95be;
}